@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/jernejk/AutoML.CodeGenerator" target="_blank" class="ml-md-auto">Source code</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
