@page "/"
@using AutoML.CodeGenerator.Core
@using AutoML.CodeGenerator.Core.CodeGeneration
@using AutoML.CodeGenerator.Core.Data
@using AutoML.CodeGenerator.Csv
@inject CsvToMetadataQuery csvToMetadata
@inject AutoMLCodeQuery autoMLCodeGenerator
@inject GenerateModelCodeQuery generateModelCode
@inject DetermineColumnDefinitionsCommand determineColumnDefinitions

<h1>Hello, world!</h1>

<h2>AutoML code:</h2>

<pre>
@autoMLCode
</pre>

<h2>InputModel code:</h2>

<pre>
@inputModelCode
</pre>

@code {
    string csv = "Description,Category";
    string autoMLCode = string.Empty;
    string inputModelCode = string.Empty;
    protected override void OnInitialized()
    {
        var metadata = csvToMetadata.Execute(csv);
        determineColumnDefinitions.Execute(metadata);

        metadata.ColumnDefinitions.First(c => c.Name == "Description").MLType = ColumnMLType.Categorical;
        metadata.ColumnDefinitions.First(c => c.Name == "Category").MLType = ColumnMLType.Label;

        autoMLCode = autoMLCodeGenerator.Execute(metadata);
        inputModelCode = generateModelCode.Execute("InputModel", "AutoMLSample", metadata.ColumnDefinitions);
    }
}
